<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=320" />
  <link rel="icon" type="image/png" href="http://puns.ericb.me/img/50percentgrey.png" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <meta property="og:description" content="The greyest thing you've ever." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://puns.ericb.me/img/50percentgrey.png" />
</head>

<body style="text-align: center">
  <p>
    <form id="pun-machine" action="/" enctype="multipart/form-data" method="post">
      <fieldset>
        <legend>
          <p style="line-height: 25%">
            <span>Puns on</span>
            <br>
            <span style="position: relative; top: 2px; margin-left: 50%">puns on</span>
            <br>
            <span style="position: relative; top: 5px; margin-left: 15%">puns</span>
          </p>
        </legend>
        <input id="q" name="q" type="text" placeholder="This is the greatest app." autofocus required>
      </fieldset>
      <fieldset>
        <input type="submit" value="#GETIT">
      </fieldset>
      <input id="__anti-forgery-token" name="__anti-forgery-token" type="hidden" value="{{anti-forgery-token}}">
    </form>
  </p>
</body>
<footer>
  <p>brought to you by <a href="http://www.endoftheinternet.com" target="_blank">no@thanks.com</a>
  </p>
</footer>

</html>
